<div class="mx-auto px-4 sm:px-8">
  <div class="py-2">
    <app-titulo-grilla
      [titulo]="titulo"
      [incluirNuevo]="false"
      [incluirVolver]="true"
      (volverClicked)="volver()"></app-titulo-grilla>
    <div
      *ngIf="cursoSeleccionado$ | async as curso; else nada"
      [ngClass]="(loading$ | async) ? 'hidden' : 'block'"
      class="flex flex-col -mx-4 sm:-mx-8 px-4 sm:px-8">
      <div class="flex flex-row justify-center p-2">
        <div
          class="md:flex no-wrap md:-mx-2 rounded-lg bg-primary-50 dark:bg-default-600 px-5 py-6">
          <!-- Left Side -->
          <div class="w-full md:w-3/12 md:mx-2">
            <div
              class="rounded-lg overflow-hidden bg-primary-100 dark:bg-default-700 p-3 border-t-4 border-primary-400">
              <div class="image overflow-hidden">
                <img
                  class="h-auto w-full mx-auto"
                  src="{{ curso?.imagen }}"
                  alt="" />
              </div>
              <h1
                class="text-primary-900 dark:text-default-100 font-bold text-xl leading-8 my-1">
                {{ curso?.nombre }}
              </h1>
              <h3
                class="text-primary-600 dark:text-default-100 font-lg text-semibold leading-6">
                {{ curso?.precio | currency: 'ARS':'symbol' }}
              </h3>
              <p
                class="text-sm text-primary-500 dark:text-default-100 hover:text-primary-600 leading-6">
                {{ curso?.descripcion }}
              </p>
              <ul
                class="bg-primary-200 dark:bg-default-600 text-primary-600 dark:text-default-100 hover:text-primary-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
                <li class="flex items-center py-3">
                  <span>Estado</span>
                  <span class="ml-auto"
                    ><span
                      [ngClass]="
                        curso?.estado == 1 ? 'bg-primary-500' : 'bg-danger-500'
                      "
                      class="py-1 px-2 rounded text-white text-sm"
                      >{{ curso?.estado | visEstado }}</span
                    ></span
                  >
                </li>
                <li class="flex items-center py-3">
                  <span>Fecha de inicio</span>
                  <span class="ml-auto">{{ curso?.fechaInicio | date }}</span>
                </li>
              </ul>
            </div>
            <div class="my-4"></div>
          </div>
          <!-- Right Side -->
          <div class="w-full md:w-9/12 md:mx-2 h-64">
            <div
              class="rounded-lg overflow-hidden bg-white dark:bg-default-700 p-3 shadow-sm dark:text-default-100">
              <div
                class="flex items-center space-x-2 font-semibold text-primary-900 dark:text-default-100 leading-8">
                <mat-icon clas="text-prymary-500 dark:text-default-100"
                  >cast_for_education</mat-icon
                >
                <span class="tracking-wide">Detalles</span>
              </div>
              <div class="text-primary-700 dark:text-default-100">
                <div class="grid md:grid-cols-2 text-sm">
                  <div class="grid grid-cols-2">
                    <div class="px-4 py-2 font-semibold">Nombre</div>
                    <div class="px-4 py-2">{{ curso?.nombre }}</div>
                  </div>
                  <div class="grid grid-cols-2">
                    <div class="px-4 py-2 font-semibold">
                      Cantidad de clases
                    </div>
                    <div class="px-4 py-2">{{ curso?.cantClases }}</div>
                  </div>
                  <div class="grid grid-cols-2">
                    <div class="px-4 py-2 font-semibold">Precio</div>
                    <div class="px-4 py-2">
                      {{ curso?.precio | currency: 'ARS':'symbol' }}
                    </div>
                  </div>
                  <div class="grid grid-cols-2">
                    <div class="px-4 py-2 font-semibold">Capacidad</div>
                    <div class="px-4 py-2">
                      {{ curso?.capacidad }}
                    </div>
                  </div>
                  <div class="grid grid-cols-2">
                    <div class="px-4 py-2 font-semibold">Fecha de inicio</div>
                    <div class="px-4 py-2">{{ curso?.fechaInicio | date }}</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of about section -->

            <div class="my-4"></div>

            <!-- Detalle de alumnos -->
            <div
              class="rounded-lg overflow-hidden bg-white dark:bg-default-700 p-3 shadow-sm">
              <div
                class="flex items-center space-x-2 font-semibold text-primary-900 dark:text-default-100 leading-8">
                <mat-icon clas="text-prymary-500 dark:text-default-100"
                  >person</mat-icon
                >
                <span class="tracking-wide">Alumnos</span>
              </div>
              <mat-table
                matSort
                [dataSource]="(tableDataSource$ | async)!"
                class="rounded-lg overflow-hidden mb-1">
                <!-- ID Definition -->
                <ng-container matColumnDef="id">
                  <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="px-5 py-3 text-primary-100 uppercase font-medium">
                    #
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="px-5 py-5">
                    {{ row.id }}
                  </mat-cell>
                </ng-container>

                <!-- Nombre -->
                <ng-container matColumnDef="nombre">
                  <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="px-5 py-3 text-primary-100 uppercase font-medium">
                    Nombre
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="px-5 py-5">
                    <div class="flex items-center">
                      <app-avatar [imagen]="row.alumno.imagen"></app-avatar>
                      <div class="ml-3">
                        <div class="font-semibold">
                          {{
                            row.alumno.nombre
                              | nombreApellido: row.alumno.apellido:'apellido'
                          }}
                        </div>
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>
                <!-- Descripcion -->
                <ng-container matColumnDef="descripcion">
                  <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="px-5 py-3 text-primary-100 uppercase font-medium">
                    Descripcion
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="px-5 py-5">
                    {{ row.alumno.descripcion }}
                  </mat-cell>
                </ng-container>
                <!-- fechaInicio -->
                <ng-container matColumnDef="fechaInicio">
                  <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="px-5 py-3 text-primary-100 uppercase font-medium">
                    Fecha de Nacimiento
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="px-5 py-5">
                    {{ row.alumno.fechaNacimiento | date }}
                  </mat-cell>
                </ng-container>

                <!-- Estado -->
                <ng-container matColumnDef="estado">
                  <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="px-5 py-3 text-primary-100 uppercase font-medium">
                    Estado
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="px-5 py-5">
                    {{ row.estado | visEstado }}
                  </mat-cell>
                </ng-container>
                <!--Acciones-->
                <ng-container matColumnDef="actions">
                  <mat-header-cell
                    *matHeaderCellDef
                    class="px-5 py-3 text-primary-100 uppercase font-medium">
                    <label for="buscador" class="sr-only">Buscar</label>
                    <div class="relative w-full">
                      <div
                        class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <mat-icon>search</mat-icon>
                      </div>
                      <input
                        type="text"
                        id="buscador"
                        class="max-w-fit w-full bg-primary-50 border border-primary-300 text-primary-900 text-sm rounded-lg focus:primary-secondary-500 focus:border-secondary-500 block pl-10 p-2.5 dark:bg-primary-700 dark:border-primary-600 dark:placeholder-primary-400 dark:text-white dark:focus:ring-secondary-500 dark:focus:border-secondary-500"
                        placeholder=""
                        matInput
                        [formControl]="buscador" />
                    </div>
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    class="px-5 py-5 text-center"
                    style="min-width: 180px">
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="appMenu"
                      aria-label="">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #appMenu="matMenu">
                      <button
                        mat-menu-item
                        (click)="eliminar(row)"
                        class="text-primary-800 font-medium dark:text-default-100">
                        <mat-icon
                          class="text-primary-800 text-lg dark:text-default-100"
                          >delete</mat-icon
                        >
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="displayedColumnsTable"
                  class="w-full bg-primary-800 dark:bg-default-700 text-primary-300 uppercase font-semibold tracking-wider text-xs text-left border-b-2 border-primary-200 h-8"></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumnsTable"
                  class="border-b border-gray-200 bg-white dark:bg-default-600 text-sm text-primary-900 cursor-pointer"></mat-row>
                <div class="mat-row text-center" *matNoDataRow>
                  <div
                    class="mat-cell"
                    [attr.colspan]="displayedColumnsTable.length"
                    class="px-5 py-3 text-danger-300 uppercase font-medium text-center">
                    No hay datos para mostrar.
                  </div>
                </div>
              </mat-table>
              <div
                class="flex flex-row flex-1 justify-end"
                [ngClass]="(loadedAlumno$ | async) ? 'block' : 'hidden'">
                <mat-paginator
                  [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  class="rounded-lg overflow-hidden"></mat-paginator>
              </div>
            </div>

            <!-- End of profile tab -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="loading$ | async"
  class="w-full h-full fixed block top-0 left-0 bg-white opacity-75 z-50">
  <span
    class="text-prymary-500 opacity-75 top-1/2 my-0 mx-auto block relative w-0 h-0">
    <mat-spinner></mat-spinner>
  </span>
</div>
<ng-template #nada>
  <div
    [ngClass]="(loading$ | async) ? 'hidden' : 'block'"
    class="flex flex-col -mx-4 sm:-mx-8 px-4 sm:px-8">
    <div class="flex flex-row justify-center p-2">
      <div
        class="w-full px-5 py-3 text-danger-300 uppercase font-medium text-center">
        No hay curso seleccionado
      </div>
    </div>
  </div>
</ng-template>
